<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>
<ul>
    <li>список этапов</li>
    <li>1 - вы сейчас тут</li>
    <li><a href="create_project_2.html">2</a></li>
    <li><a href="create_project_2.html">3</a></li>
    <li><a href="create_project_2.html">4</a></li>
    <li><a href="create_project_2.html">5</a></li>
    <li><a href="create_project_2.html">6</a></li>
    <li><a href="create_project_2.html">7</a></li>
    
</ul>
<form action = "{% url 'projects:CreateProject' %}?stage=1&id={{ project.id }}" method="post">
        {% csrf_token %}
        <p>название проекта</p>
        <input type="text" name="name_project" placeholder="{{ project.name }}">
        <p>ответственное лицо</p>
    
        <p>имя</p>
        <input type="text" name="rperson_name" placeholder="{{ project.r_persons.name }}">
        <p>должность</p>
        <input type="text" name="appointment" placeholder="{{ project.r_persons.appointment }}"/>
        <p><input type="submit" value="Create"></p>
</form>
</body>
</html>