<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>

<ul> 
    {% with '1 2 3 4 5 6 7' as list %}
        {% for i in list.split %}
            {% if request.GET.stage == i %}
                <li>{{ i }} - вы сейчас тут</li>
            {% elif project.stage|slugify  == i %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }} - актуальный этап</a></li>
            {% elif project.stage|slugify  < i %}
                <li><p>{{ i }}, данный этап не доступен на данный момент</p></li>
            {% else %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endwith %}
</ul>


{% if project.type is not None  %}
	<p>На данный момент ваш выбор - {{ project.type }}</p>
{% endif %} 
<form action="{% url 'projects:CreateProject' %}?stage=2&id={{ project.id }}" method="post">
    {% csrf_token %}
    <p>Выберети тип системы</p>
     <select name="type">
    <option value="GYS">Государственная информационная система</option>
    <option value="ISP">Информационная система пресональных данных</option>
    <option value="KII">Объект критической информакционной инфраструктуры</option>
  </select>
    <p><input type="submit" value="Create"></p>
</form>

</body>
</html>