<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>

<ul>
    {% with '1 2 3 4 5 6 7' as list %}
        {% for i in list.split %}
            {% if request.GET.stage == i %}
                <li>{{ i }} - вы сейчас тут</li>
            {% elif project.stage|slugify  == i %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }} - актуальный
                    этап</a></li>
            {% elif project.stage|slugify  < i %}
                <li><p>{{ i }}, данный этап не доступен на данный момент</p></li>
            {% else %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endwith %}
</ul>


<form action="{% url 'projects:CreateProject' %}?stage=1&id={{ project.id }}" method="post">
    {% csrf_token %}
    <p>название проекта</p>
    <input type="text" name="name_project" placeholder="{{ project.name_project }}">
    <p>ответственное лицо</p>

    <p>имя</p>
    {% for rp in project.r_persons.all %}
        {% if rp.id == 1 %}
            <input type="text" name="rperson_name" placeholder="{{ rp.name }}">
            <p>должность</p>
            <input type="text" name="appointment" placeholder="{{ rp.appointment }}"/>
        {% endif %}
    {% endfor %}

    <p><input type="submit" value="Create"></p>
</form>
</body>
</html>