<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  include 'projects/nav_bar.html' %}


<form action="{% url 'projects:CreateProject' %}?stage=6&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p>выберети компоненты воздействия</p>

    {% for ob, components in objects.items %}
        <div>
            <p><b>{{ ob }}</b></p>
            {% if components.exists %}
                {% for component in components %}
                    <div>
                        <p>
                            <input type="checkbox" id="{{ component.id }}" value="{{ component.id }}"
                                    {% if component.id in component_ids %} checked {% endif %}
                                   name="D_{{ component.name }}">
                            <label for="{{ component.id }}">{{ component.name }}</label>
                        </p>
                    </div>
                {% endfor %}
            {% else %}
                <p>нет компонентов</p>
            {% endif %}
        </div>
    {% endfor %}

    <p><input type="submit" value="Далее"></p>
</form>

</body>
</html>