<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'projects/check_box_val.js' %}" defer></script>
</head>
<body>
{%  include 'projects/nav_bar.html' %}


<form action="{% url 'projects:CreateProject' %}?stage=7&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p>выберети нарушителей</p>

    {% for violator in violators %}
        <label for="{{ violator.lvl }}">{{ violator.name }}</label>
        <input type="checkbox" id="{{ violator.lvl }}" value="{{ violator.lvl }}"
               {% if violator.name in v_lvl_names %}checked{% endif %} name="options">
        <br>
    {% endfor %}
    <p><input type="submit" value="Далее"></p>
</form>

</body>
</html>