<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>

<ul>
    {% with '1 2 3 4 5 6 7 8' as list %}
        {% for i in list.split %}
            {% if request.GET.stage == i %}
                <li>{{ i }} - вы сейчас тут</li>
            {% elif project.stage|slugify  == i %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }} - актуальный
                    этап</a></li>
            {% elif project.stage|slugify  < i %}
                <li><p>{{ i }}, данный этап не доступен на данный момент</p></li>
            {% else %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endwith %}
</ul>

<!--
<form action="{% url 'projects:CreateProject' %}?stage=8&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p><input type="submit" value="Create"></p>
</form>
-->

<!-- кнопка генерации файла-->
{% if project.doc == None %}
    <a href="{% url 'projects:generate_project' %}?id={{ project.id }}">сгенерировать файл</a>
{% elif project.doc == 'loading' %}
    <p>файл генерируется пожалуйста подождите</p>
{% else %}
    <p>файл создан и доступен для установки</p>
{% endif %}

<!-- кнопка выгрузки файла  -->
кнопка выгрузки файла
{% if project.doc != None and project.doc != 'loading' %}
    <a href="{% url 'projects:download_project' %}?id={{ project.id }}">Скачать</a>
{% else %}
    <p> файл не готов</p>
{% endif %}

</body>
</html>