<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'projects/check_box_val.js' %}" defer></script>

</head>
<body>
{%  include 'projects/nav_bar.html' %}


<form action="{% url 'projects:CreateProject' %}?stage=4&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p>Выберите негативные последствия</p>

    {% for nc in negative_consequences %}
        <label for="{{ nc.id }}">{{ nc.name }}</label>
        <input type="checkbox" id="{{ nc.id }}" value="{{ nc.id }}"
               {% if nc.id in ncs %}checked  {% endif %}
               name="options">
        <br>
    {% endfor %}
    <input type="submit" value="Далее">
</form>

</body>
</html>