<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  include 'projects/nav_bar.html' %}

<!--
<form action="{% url 'projects:CreateProject' %}?stage=8&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p><input type="submit" value="Create"></p>
</form>
-->

<!-- кнопка генерации файла-->
{% if project.doc == None %}
    <a href="{% url 'projects:generate_project' %}?id={{ project.id }}">сгенерировать файл</a>
{% elif project.doc == 'loading' %}
    <p>файл генерируется пожалуйста подождите</p>
{% else %}
    <p>файл создан и доступен для установки</p>
{% endif %}

<!-- кнопка выгрузки файла  -->
кнопка выгрузки файла
{% if project.doc != None and project.doc != 'loading' %}
    <a href="{% url 'projects:download_project' %}?id={{ project.id }}">Скачать</a>
{% else %}
    <p> файл не готов</p>
{% endif %}

</body>
</html>