<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'projects/scripts.js' %}" defer></script>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>

<ul>
    {% with '1 2 3 4 5 6 7 8' as list %}
        {% for i in list.split %}
            {% if request.GET.stage == i %}
                <li>{{ i }} - вы сейчас тут</li>
            {% elif project.stage|slugify  == i %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }} - актуальный
                    этап</a></li>
            {% elif project.stage|slugify  < i %}
                <li><p>{{ i }}, данный этап не доступен на данный момент</p></li>
            {% else %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endwith %}
</ul>


<form action="{% url 'projects:CreateProject' %}?stage=1&id={{ project.id }}" method="post">
    {% csrf_token %}
    <p>название проекта</p>
    <input type="text" name="name_project" value="{{ project.name_project }}" placeholder="{{ project.name_project }}"
           required
           pattern="^[a-zA-Z][a-zA-Z0-9]{3,30}$">

    {% if project.r_persons.all %}
        <p>на данный момент за проектом значатся</p>
        {% for rp in project.r_persons.all %}
            <p>имя {{ rp.name }}</p>
            <p>должность {{ rp.appointment }}</p>
        {% endfor %}
    {% endif %}

    <p>ответственные лица</p>
    <div id="rperson_div">
        <p>имя</p>
        <input type="text" name="rperson_name" placeholder="{{ rp.name }}" required
               pattern="^[a-zA-Z\s\.]*(?:[a-zA-Z\s\.]*)?$"/>
        <p>должность</p>
        <input type="text" name="appointment" placeholder="{{ rp.appointment }}" required
               pattern="^[a-zA-Z\s\.]*(?:[a-zA-Z\s\.]*)?$"/>
        <input type="button" id="addRPerson" value="add person"
        /><br/>
    </div>
    <p><input type="submit" value="Create"></p>
</form>


</body>
</html>