<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'projects/check_box_val.js' %}" defer></script>
</head>
<body>
{%  include 'projects/nav_bar.html' %}


<form action="{% url 'projects:CreateProject' %}?stage=5&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p>выберети объекты воздействия</p>

    {% for ob in objs %}
        <div>
                <label for="{{ ob.id }}">{{ ob.name }}</label>
                <input type="checkbox" id="{{ ob.id }}" value="{{ ob.id }}"
                        {% if ob.id in ob_ids %} checked {% endif %}
                       name="options">
                <br>
        </div>
    {% endfor %}

    <!-- может и не делать этого вовсе, какая-то хуйня откровенно говоря -->
    <p>укажити дополнительные модификаторы(опционально)</p>
    {% for key, value in add_options.items %}
        <p>
            <label for="{{ key|slice:"3:" }}">{{ key|slice:"3:" }} system</label>
            <input type="checkbox" id={{ key|slice:"3:" }}
                    {% if value %}checked{% endif %} name="A_{{ key|slice:"3:" }} system">
        </p>
    {% endfor %}

    <input type="submit" value="Далее">
</form>

</body>
</html>