<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'projects/nav_bar.html' %}


{% if project.system_lvl is not None %}
    <p>На данный момент ваш выбор - {{ project.system_lvl }}</p>
{% endif %}


{% if project.type == 'GYS' %}
    {% include 'projects/a_element_choose_lvl_GYS.html' %}
{% elif project.type == 'ISP' %}
    {% include 'projects/a_element_choose_lvl_ISP.html' %}
{% elif project.type == 'KII' %}
    {% include 'projects/a_element_choose_lvl_KII.html' %}
{% endif %}

{#<a href="{% url 'projects:ChooseSystemLvl' %}?id={{ project.id }}">альтернативный способ определение уровня системы</a>#}
{#<form action="{% url 'projects:CreateProject' %}?stage=3&id={{ project.id }}" method="post">#}
{##}
{#    {% csrf_token %}#}
{#    {% if project.type == 'GYS' %}#}
{#        <p>Выберите класса защищенности информационной системы</p>#}
{#    {% elif project.type == 'ISP' %}#}
{#        <p>Выберите класса категорию значимости</p>#}
{#    {% elif project.type == 'KII' %}#}
{#        <p>Выберите уровень защищённости</p>#}
{#    {% endif %}#}
{#    <select name="system_lvl">#}
{#        <option value="" selected disabled hidden>Choose here</option>#}
{#        {% for i in '123'|make_list %}#}
{#            <option value={{ i }} {% if project.system_lvl|slugify   == i %} selected {% endif %}>{{ i }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#    <p><input type="submit" value="Далее"></p>#}
{#</form>#}

</body>
</html>