<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{%  include 'projects/nav_bar.html' %}


{% if project.type is not None %}
    <p>На данный момент ваш выбор - {{ project.type }}</p>
{% endif %}
<form action="{% url 'projects:CreateProject' %}?stage=2&id={{ project.id }}" method="post">
    {% csrf_token %}
    <p>Выберети тип системы</p>
    <select name="type">
        <option value="" selected disabled hidden>Choose here</option>
        {% for key, value in system_type.items %}
            <option value="{{ key }}" {% if project.type == key %} selected {% endif %}>{{ value }}</option>
        {% endfor %}
    </select>
    <p><input type="submit" value="Далее"></p>
</form>

</body>
</html>