<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <script src="{% static 'projects/check_box_val.js' %}" defer></script>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>

<ul>
    {% with '1 2 3 4 5 6 7 8' as list %}
        {% for i in list.split %}
            {% if request.GET.stage == i %}
                <li>{{ i }} - вы сейчас тут</li>
            {% elif project.stage|slugify  == i %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }} - актуальный
                    этап</a></li>
            {% elif project.stage|slugify  < i %}
                <li><p>{{ i }}, данный этап не доступен на данный момент</p></li>
            {% else %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endwith %}
</ul>

<form action="{% url 'projects:CreateProject' %}?stage=7&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p>выберети нарушителей</p>

    {% for violator in violators %}
        <label for="{{ violator.lvl }}">{{ violator.name }}</label>
        <input type="checkbox" id="{{ violator.lvl }}" value="{{ violator.lvl }}"
               {% if violator.name in v_lvl_names %}checked{% endif %} name="options">
        <br>
    {% endfor %}
    <p><input type="submit" value="Create"></p>
</form>

</body>
</html>