<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>

<ul>
    {% with '1 2 3 4 5 6 7' as list %}
        {% for i in list.split %}
            {% if request.GET.stage == i %}
                <li>{{ i }} - вы сейчас тут</li>
            {% elif project.stage|slugify  == i %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }} - актуальный
                    этап</a></li>
            {% elif project.stage|slugify  < i %}
                <li><p>{{ i }}, данный этап не доступен на данный момент</p></li>
            {% else %}
                <li><a href="{% url 'projects:CreateProject' %}?stage={{ i }}&id={{ project.id }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
    {% endwith %}
</ul>


<form action="{% url 'projects:CreateProject' %}?stage=5&id={{ project.id }}" method="post">

    {% csrf_token %}
    <p>выберети объекты воздействия</p>

    {% for ob in objs %}
        <div>
            <p>
                <label for="{{ ob.id }}">{{ ob.name }}</label>
                <input type="checkbox" id="{{ ob.id }}" value="{{ ob.id }}"
                        {% if ob.id in ob_ids %} checked {% endif %}
                       name="D_{{ ob.name }}">
            </p>
        </div>
    {% endfor %}

    <!-- может и не делать этого вовсе, какая-то хуйня откровенно говоря -->
    <p>укажити дополнительные модификаторы(опционально)</p>
    {% for key, value in add_options.items %}
        <p>
            <label for="{{ key|slice:"3:" }}">{{ key|slice:"3:" }} system</label>
            <input type="checkbox" id={{ key|slice:"3:" }}
                    {% if value %}checked{% endif %} name="A_{{ key|slice:"3:" }} system">
        </p>
    {% endfor %}

    <p><input type="submit" value="Create"></p>
</form>

</body>
</html>