<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'projects:projects' %}">Мои проекты</a>
<p>Тут мы видим информацию о проекте</p>
<!-- кнопка генерации файла-->
{% if project.stage == 8%}
    {% if project.doc == None %}
        <a href="{% url 'projects:generate_project' %}?id={{ project.id }}">сгенерировать файл</a>
    {% elif project.doc == 'loading' %}
        <p>файл генерируется пожалуйста подождите</p>
    {% else %}
        <p>файл создан и доступен для установки</p>
    {% endif %}
{% endif %}
<br>---------------------------------<br>
<!-- кнопка выгрузки файла  -->
кнопка выгрузки файла
{% if project.doc != None and project.doc != 'loading' %}
    <a href="{% url 'projects:download_project' %}?id={{ project.id }}">Скачать</a>
{% else %}
    <p> файл не готов</p>
{% endif %}
<p> id проекта -{{ project.id }}</p>
<p>стадния проекта - {{ project.stage }}/8</p>
<a href="{% url 'projects:CreateProject' %}?id={{ project.id }}&stage={{ project.stage }}">редактировать</a>
<a href="{% url 'projects:delete_project' %}?id={{ project.id }}">удалить</a>
</body>
</html>