<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>
<p>Проекты пользователя</p>
<a href="{% url 'projects:CreateProjects' %}">Создать проект</a>
{% if page_obj %}
    {% for contact in page_obj %}
        <p>{{ contact }}</p>
        <a href="{{ contact.get_absolute_url }}">Подробнее</a>
    {% endfor %}
{% endif %}
<nav>
    <ul>
        {% for p in page_obj.paginator.page_range %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
</body>
</html>