<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Проекты пользователя</p>
<a href="{% url 'profils:CreateProjects' %}">Создать проект</a>

{% for contact in page_obj %}
    <p>{{ contact }}</p>
    <a href="{{ contact.get_absolute_url }}">Подробнее</a>
{% endfor %}

<nav>
    <ul>
        {% for p in page_obj.paginator.page_range %}
        <li>
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
</body>
</html>