<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>
<a href="{% url 'profils:rend_glavn' %}">На главную</a>
<p>{{ request.user }}</p>

<a href="{% url 'profils:creating_custom_NE' %}">Создание кастомных негативных последствий</a>

<p>Форма для смены своих данных</p>
<form action = "{% url 'profils:MyAccount' %}" method="post">
        {% csrf_token %}
        <p>Имя</p>
        <input type="text" name="firstname" value={{user.first_name}} >
        <p>Фамилия</p>
        <input type="text" name="lastname" value={{user.last_name}} >
        <p>Почта</p>
        <input type="email" name="email" value={{user.email}}>
        <p><input type="submit" value="Сохранить"></p>
</form>
<br>
<p>Смена пароля</p>
<form method="post">
    {% csrf_token %}
    <p>Введите старый пароль</p>
    <input type="text" name="oldpassword">
    <p>Введите новый пароль</p>
    <input type="text" name="newpassword">
    <p><input type="submit" value="Сохранить"></p>
</form>
</body>
</html>